a {
	transition: all .3s;
	color: $blue;
	cursor: pointer;
}

a:link,
a:visited {
	color: $blue;
}

a:hover {
	color: #7FDBFF;
}

a:active {
	transition: all .3s;
	color: lighten($blue, 15%);
}

.entry-content a {
	position: relative;
	text-decoration: none;
	display: inline-block;
	color: black;
	padding: 0 1px;
	background-image: linear-gradient( transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100% );
	transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
	background-size: 100% 200%;
	background-position: 0 0;
	word-break: break-word;

	&:hover {
		background-image: linear-gradient( transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 1) calc(50% - 9px), rgba(0, 255, 0, 1) 100% );
		background-position: 0 100%;
	}
}

.wp-block-button a {
	padding: 0.5em 1em;
	background-image: none;

	&:hover {
		background-image: none;
	}
}