.ad {
    margin: 0 auto;
    max-width: 728px;
    text-align: center;

    .leaderboard {
        background: $lightgrey;
        margin-top: 1em;
    }

    .halfpage {
        background: $lightgrey;
    }

    .large-rectangle {
        background: $lightgrey;
    }
}