.ad {
    margin: 0 auto;
    max-width: 728px;
    text-align: center;

    &.leaderboard {
        background: $lightgrey;
        margin-top: 1.25em;
    }

    &.halfpage {
        background: $lightgrey;
    }

    &.large-rectangle {
        background: $lightgrey;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
}