.comments-area {
	padding: 1em;

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&.is-active {
		display: block;
	}

	&.is-not-active {
		@extend .screen-reader-text;
	}
}

.comments-link a {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.5em 1em;
	border: 2px solid $red;
	background: $red;
	border-radius: $border__radius;
	color: $white;
	display: block;
	margin: 1.5em auto;
	text-align: center;
	max-width: 16em;

	&:hover {
		background: lighten($red, 5%);
	}
}

.comment {
	padding: 1em 0;
}

.comment-author.vcard {
	display: flex;
}

.comment-meta {
	a {
		color: #222;
	}
}

.comment-metadata {
	font-size: 12rem;
	margin-left: 1em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	.edit-link a {
		margin: 0 1em;
	}
}

.bull {
	display: inline-block;
	margin: 0 0.5em;
}

.says {
	display: none;
}

.comment-author {
	.avatar {
		border-radius: $border__radius;
	}
}

.comment-content {
	margin: 1.5em 0 0 1em;
	padding: 1em;
	background: #f0f2f4;
	position: relative;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;

	&::before {
		content: '';
		border-right: 20px solid transparent;
		border-bottom: 20px solid #f0f2f4;
		position: absolute;
		top: -20px;
		left: 0;
	}
}

.bypostauthor {
	.comment-content {
		background: lightyellow;
	}

	.comment-content::before {
		border-bottom: 20px solid lightyellow;
	}
}

.reply {
	text-transform: uppercase;
	font-size: 12rem;
	/*border-bottom: 1px solid #a9b4c0;*/
	display: flex;
	
	a {
		padding: 3px 5px;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		font-weight: bold;
		margin-left: auto;
		border-radius: $border__radius;

		&:hover {
			background: $red;
			color: #fff;
		}
	}

}

#comments {
	ol.children {
		margin-left: 1.4em;
	}
}

.children {
	.avatar {
		height: 32px;
		width: 32px;
	}
}

.comment-respond {
	label {
		font-weight: bold;
		display: inline-block;
		width: 80px;
	}
}

.required {
	color: $red;
}

.comment-form-cookies-consent {
	label {
		width: auto;
		padding-left: 1em;
		font-weight: normal;
	}
}

.logged-in-as {
	background: lightyellow;
	padding: 0.75em;
	border-radius: $border__radius;
	font-size: 14rem;
	border: 3px solid $yellow;
}

.comment-form-comment {
	label {
		display: none;
	}

	textarea {
		display: block;
		width: 100%;
	}
}

.archive-header {
	background: $red;
	color: $white;
	padding: 1em;
}