.site-content {
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		box-shadow: 0 0 20px rgba(62, 70, 79, .22);
		overflow: hidden;
		position: relative;
		z-index: -2;
		background: $white;
	}
}

.has-sidebar .site-content {
	position: relative;
	z-index: 0;

	.content-area {
		min-width: $content-area__min-width;
		width: calc((48em - 100%) * 1000);
		max-width: 100%;
		padding-bottom: 1em;
	}

	.widget-area {
		min-width: $widget-area__min-width;
		width: calc((48em - 100%) * 1000);
		max-width: 100%;
		padding: 1em;
		padding-bottom: 1em;
	}
	
	.entry-header {
		z-index: 20;
	}
}

.no-sidebar {
	.content-area {
		max-width: $content-area__min-width * 1.1;
		margin: 0 auto;
		padding-bottom: 1em;
	}
}

.site-content {
	margin-top: 1em;
}

.page-title {}

.widget-area {}

.widget {}

.widget-title {}

.no-results {}

.not-found {}

.page-header {}

.page-title {}

.page-content {}

.hentry {
	position: relative;
}

.singular {
	.entry-header {
		padding-bottom: 1.2em;
		height: 40vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 1em;
		color: $white;
		z-index: 2;
		position: absolute;
		top: -1em;
		width: 100%;
	}

	.has-post-thumbnail {
		.entry-header {
			background: rgba(0, 0, 0, 0.2);
		}
	}

	.entry-meta {
		.info {
			color: rgba(256, 256, 256, 0.8);
		}

		a {
			color: $white;
			color: rgba(256, 256, 256, 0.8);

			&:hover {
				color: rgba(256, 256, 256, 1);
			}
		}
	}

	.post-thumbnail {
		background: $red;
		height: auto;
		height: 40vh;
		width: 100%;
		position: absolute;
		top: -1em;
		z-index: 1;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}

	.entry-content {
		// margin-top: 40vh;
		padding: 0 1em;
	}

	.hentry {
		padding-top: 40vh;
	}
}

.entry-title {
	margin: 0;
}

.entry-title a {
	color: inherit;
}

.entry-title a:hover {
	color: $red;
}

.entry-meta {
	display: flex;
	align-items: center;
	line-height: 1.3;
	font-size: 13px;

	.avatar {
		border-radius: 50%;
	}

	.info {
		margin-left: 1em;
	}

	.entry-date.published {
		display: initial;
	}

	.updated {
		display: none;
	}
}

.entry-footer {
	padding: 2em 1em;
	font-size: 13px;
	color: #777;

	.svg-icon {
		height: 13px;
		width: 16px;
	}

	a {
		color: #777;

		&:hover {
			color: $red;
		}
	}


	.edit-link {
		display: block;
		margin-top: 1em;
	}

	.cat-links,
	.tags-links {
		display: block;
	}
}

.edit-link {
	a {
		background: #f0f2f4;
		color: #777;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11rem;
		padding: 3px 5px;
		border-radius: 3px;

		&:hover {
			background: $red;
			color: #fff;
		}
	}
}

.author-box {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 1em;
	background: $lightgrey;
	margin: 0 1em 1em 1em;
	border-radius: 3px;
	border: 1px solid $grey;

	a {
		&.author-more {
			text-transform: uppercase;
			font-size: small;
			font-weight: bold;
			color: $red;
		}

		&:hover.author-more {
			color: darken($red, 15%);
		}

		&.author-social-link {
			margin-top: 1em;
			display: inline-block;
		}

		&:hover.author-social-link {
			&.facebook {
				svg {
					fill: $facebook;
				}
			}

			&.twitter {
				svg {
					fill: $twitter;
				}
			}

			&.instagram {
				svg {
					fill: $instagram;
				}
			}

			&.linkedin {
				svg {
					fill: $linkedin;
				}
			}
		}
	}

	.author-data {
		padding-right: 1em;
		font-size: small;

		h3 {
			margin: 0;
		}
	}

	.author-avatar {
		min-width: 175px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			border-radius: 50%;
		}
	}
}

.entry-content {
	.wp-caption .wp-caption-text {
		background: $lightgrey;
		color: #777;
		font-size: small;
		margin: 0;
		padding: 0.75em;
		border-bottom: 1px solid $grey;
		border-left: 1px solid $grey;
		border-right: 1px solid $grey;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;

		a {
			&:hover {
				color: $red;
			}
		}
	}
}

.site-main .template-summary {
	padding: 1em 1em 0 1em;
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
	display: grid;
	grid-template-columns: 44% auto;
	grid-template-rows: ($thumb-height / 2);
	grid-template-areas: 
		"thumbnail title title"
		"thumbnail summary summary"
	;
	border: 1px solid $grey;
	margin: 1em;
	padding: 0;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(62, 70, 79, .22);

	.edit-link {
		position: absolute;
		right: 1em;
		top: 0;
	}

	&:hover {
		border-color: $black;
	}
	
	.post-thumbnail-container {
		grid-area: thumbnail;

		img {
			object-fit: cover;
			height: $thumb-height;
		}

		.no-thumbnail {
			background: $red;
			height: $thumb-height;
			width: 100%;
		}
	}

	.entry-header {
		grid-area: title;
		// order: 2;
		margin-left: 1em;
		// max-width: 55%;

		.entry-title {
			font-size: $font-size * $golden-ratio * 0.9;
			margin-top: 0.75em;
			word-wrap: break-word;
			background: white;
			box-shadow: 0px 20px 20px 0px rgba(255,255,255,0.75);
		}
	}

	.entry-summary {
		grid-area: summary;
		color: #777;
		font-size: 0.8em;
		overflow: hidden;
  		max-height: ($thumb-height / 2);
		// max-width: 57%;
		// position: absolute;
		// right: 0;
		// bottom: 0;
		p { 
			padding: 0.75em 1em 1em 1.2em;
			margin: 0;
		}
	}

	.entry-meta {
		display: none;
	}

	.entry-footer {
		display: none;
	}
}

.search-no-results .site-content .container,
.error404 .site-content .container {
	z-index: initial;
}

.search-no-results .content-area,
.error404 .content-area {

	max-width: 100%;

	.page-header,
	p {
		text-align: center;
	}

	.search-form {
		padding: 1em;
	}


	.widget-container {
		display: flex;

		.widget {
			max-width: 33.333333%;
		}
	}

	.widget {
		padding: 1em;
	}

	.search-form {
		max-width: 73.3333%;
		margin: auto;
	}
}

.latex {
	display: initial;
}