.site-footer {
    background: $darkblue;
    color: #fff;
    margin-top: 2em;

    a {
        color: #fff;

        &:hover {
            color: $blue;
        }
    }

    .container {
        padding: 1em;
    }
}

.site-info {
    @extend .screen-reader-text;
}
