.site-footer {
    background: $darkblue;
    color: #fff;
    margin-top: 2em;

    a {
        color: #fff;
    }

    .container {
        display: flex;
    }

    .widget {
        padding: 1em;

        li {
            border-bottom: 1px dotted rgba(255, 255, 255, .3);

            a {
                padding: 0.5em;
                border-left: 3px solid transparent;

                &:hover {
                    border-left: 3px solid $blue;
                }
            }
        }
    }
}

.site-info {
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
}
