.site-footer {
    background: $darkblue;
    color: #fff;
    margin-top: 2em;

    a {
        color: #fff;
    }

    .container {
        display: flex;
    }

    .widget {
        padding: 1em;

        li {

            &:hover {
                background: $darkblue;
            }

            a {
                padding: 0.5em;
                border-left: 3px solid $white;

                &:hover {
                    border-left: 3px solid $lightblue;
                    color: $lightblue;
                }
            }
        }
    }
}

.site-info {
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    text-align: center;
    
    .creator {
        width: 100%;
    }
}
