.site-header {
	background: $green;
	color: #fff;
	height: 64px;
	line-height: 64px;
	/*border-bottom: 3px solid #47a547;*/
}

.site-header .menu-toggle {
	line-height: auto;
}

.site-header p {
	margin: 0;
}

.header-container {
	display: flex;
}

.site-branding {
	.site-title {
		margin: 0;
		a {
			color: $white;
			font-weight: bold;
			display: block;
			padding: 0 0.5em;
	
			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.engenharia {
			font-weight: 300;
		}

		.livre {
			font-weight: 500;
		}
	}

	.site-description {
		@extend .screen-reader-text;
	}
}