.main-navigation {
	display: flex;
	position: relative;
	
	ul {
		// display: none;
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	ul ul {
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background: $darkblue;
	}

	ul ul ul {
		left: -999em;
		top: 0;
	}

	ul ul li:hover > ul,
	ul ul li.focus > ul {
		left: 100%;
	}

	ul ul a {
		width: 200px;
	}

	ul li:hover > ul,
	ul li.focus > ul {
		left: auto;
	}

	li {
		/*float: left;*/
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}

}

// Small menu.
.menu-toggle {
	// display: block;
	position: absolute;
	z-index: 100;
	height: 64px;
}
/*
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}
*/

.site-links {
	margin-top: 74px;
	width: 100%;
	max-width: 1024px;
	display: flex;
	overflow: hidden;
	z-index: 999;
	border-radius: 3px;
	background: $darkerblue;
	color: #fff;
	font-size: 16px;
	line-height: 1.625;

	&::before {
		content: '';
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $darkerblue;
		position: absolute;
		margin-top: -9px;
		left: 22px;
	}

	&.is-active {
		max-height: 600px;
		transition: max-height 1s ease-in-out;
	}

	&.is-not-active {
		max-height: 0;
		pointer-events: none;
		transition: max-height 1s ease-in-out;
	}

	a {
		color: #fff;
		padding: 8px 16px;

		&:hover {
			color: $lightblue;
		}
	}

	ul {
		padding: 1em;
	}

	li {
		border-left: 3px solid #fff;
		&:hover {
			background: $darkblue;
			border-color: $lightblue;
		}
	}

	.widget-title {
		display: none;
	}
}

.is-not-active.site-links::before {
	display: none;
}

.post-navigation {
	.nav-links {
		a {
			display: block;
			padding: 1em;
			background: $lightgrey;
			color: #777;

			&:hover {
				background: darken($lightgrey, 5%);
			}
		}
	}

	.nav-next {
		text-align: right;

	}

	.nav-previous {
		margin-bottom: 1em;
	}

	.meta-nav {
		text-transform: uppercase;
		font-size: 12rem;
	}
}